body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #afb2bd;
  }
  
  header {
    background-color: #f30e0e;
    opacity: 0.5;
    color: rgb(69, 230, 216);
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #555;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  